<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysj.ysj_free.mapper.UserMapper">
    <select id="getAllUsers" resultType="com.ysj.ysj_free.domain.User">
        SELECT * FROM user
    </select>

    <select id="loginUser" parameterType="String" resultType="com.ysj.ysj_free.domain.User">
        SELECT * FROM user WHERE id = #{id} AND password = #{password}
    </select>

    <insert id="insertUser" parameterType="com.ysj.ysj_free.domain.User">
        INSERT INTO user (id , userName, password) VALUES (#{id}, #{userName}, #{password})
    </insert>
    <update id="updateUser" parameterType="com.ysj.ysj_free.domain.User">
        UPDATE user SET userName = #{userName}, password = #{password} WHERE id = #{id}
    </update>
    <delete id="deleteUser" parameterType="java.lang.String">
        DELETE FROM user WHERE id = #{id}
    </delete>
</mapper>
